{% extends "base.html" %}

{% block content %}
<link rel="stylesheet" href="/static/css/style2.css" type="text/css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">


<div class="login-wrapper">
    {% if form.errors %}
      <p class="error">Your username and password didn't match. Please try again.</p>
    {% endif %}

    {% if next %}
      {% if user.is_authenticated %}
        <p>Your account doesn't have access to this page. To proceed,
        please login with an account that has access.</p>
      {% else %}
        <p>Please login to see this page.</p>
      {% endif %}
    {% endif %}

    <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
        <span>{{ form.username.label_tag }}</span>
        <span class="textbox">{{ form.username }}</span>
        <br>
        <br>
        <span>{{ form.password.label_tag }}</span>
        <span class="textbox">{{ form.password }}</span>
        <br>
        <br>

        <input class="submit_button" type="submit" value="Login" />
        <input type="hidden" name="next" value="{{ next }}" />
    </form>

    {# Assumes you setup the password_reset view in your URLconf #}
    <p><a id ="forgot" href="{% url 'password_reset' %}">Forgot password?</a></p>
</div>
{% endblock %}
