{% extends "base.html" %}

{% block content %}
    {% if validlink %}
<style>

p{
    text-align: center; 
    position: relative;

}
.change-wrapper {
    padding-top: 20px;
    background: var(--color0);
    border-radius: 20px;
    position: ab;
    margin: auto;
    top: 150px;
    right: 0;
    bottom: 0;
    left: 0;
    width: 500px;
    height: 400px;
    text-align: center;
} 
.textbox1 {
    
    border-radius: 25px;
    padding-left: 15px;
    padding-right: 15px;
    background: var(--color0);
    border: 0px;
    transition: .3s;
}
.textbox2 {
    
    border-radius: 25px;
    padding-left: 15px;
    padding-right: 15px;
    background: var(--color0);
    border: 0px;
    transition: .3s;
}
th,
td {
  width: 150px;
  text-align: center;
  border: 1px;
  padding: 5px;
}
table{
border-collapse:collapse !important;
border-spacing:0;
padding:0 !important;
}

.submit_button {
    border-radius: 25px;
    padding: 12px;
    margin: 5px;
    background: #007bff;
    border: 0px;
    color: var(--background);
    font-size: large;
    transition: .3s;
}
</style>


        <h1 style="text-align: center;">Reset Password</h1>
       
        <form action="" method="post">

        {% csrf_token %}
            <table class="change-wrapper" cellspacing=0>
                <tr>
                    <p>Please Enter Your New Password.</p>
                    <td class="textbox1">{{ form.new_password1.errors }}
                        <label for="id_new_password1">New password:</label></td>
                    <td class="textbox1">{{ form.new_password1 }}</td>
                </tr>
                <tr>
                    <td class="textbox2">{{ form.new_password2.errors }}
                        <label for="id_new_password2">Confirm password:</label></td>
                    <td class="textbox2" >{{ form.new_password2 }}</td>
                </tr>
                <tr>
                    <td></td>
                    <td><input class="submit_button" type="submit" value="Change my password" /></td>
                </tr>
            </table>
        </form>
    {% else %}
        <h1>Password reset failed</h1>
        <p>The password reset link was invalid, possibly because it has already been used. Please request a new password reset.</p>
    {% endif %}
{% endblock %}
