{% extends 'base.html' %}

{% block title %}Finance{% endblock title %}

{% block body %}
<div class="col-md-12 margin-top-4pc">
				<h1 class="font-regular bold pt-5 text-black font-45" align="left"><i>Agri Finance</i></h1>
				<h2 class="text-green font-regular font-30 "style="color:green;" align="left"><b>Credit</b></h2>
</div>
<div class="font-regular text-dark font-24 letter-spacing-1">
					<p style="font-size: 20px; padding-left: 16px;">Right input at right time makes a huge difference in the crop production level – but unfortunately our farmers may not always have the required funds for large purchases at the right time. Our goal is to bring micro-financing for input purchase in partnership with leading agro financing institutions of the country.</p>
</div>
<br>
<h2 class="text-green font-regular font-30"style="color:green;  padding-left: 16px;" align="left"><b> Insurance</b></h2>
<div class="font-regular text-dark font-16 letter-spacing-1">
<p style="font-size: 20px;  padding-left: 16px;">All said and done, nature still has an upper-hand on agricultural outcome – so crop insurance is very vital for financial viability of farming and farmer’s livelihood. We are working closely with leading agro insurance companies to bring right insurance products for benefit of the farmers in our network.We are currently in talk with Adi Chitragupta Finance Limited(ACFL), a microfinance company in Bihar, headquartered at Patna.</p>
</div>
<div class="center_div" style=" padding-left: 16px;">

            If you want to know more about this company, you can visit their website <a href="https://acfl.co.in/" target="blank"><strong>Adi Chitragupta Finance</strong></a> limited.
        </div>
{% endblock body %}